body {
	margin: 0;
	padding: 0;
	background-color: #ccc;
}

#heading {
	padding: 0.25em;
	font-size: xx-large;
}

#main {
	margin: 0;
	padding: 0;
	background-color: #ddd;
}

#sidebar {
	margin: 0;
	padding: 8px;
	float: left;
	width: 240px;
	background-color: #888;
	word-wrap: break-word;
}

#container {
	margin-left: 256px;
}

#content {
	margin: 0;
	padding: 8px;
	height: 100%;
	background-color: #222;
	color: #fff;
}

.article {
	border: 1px solid black;
	background-color: #ccf;
	color: #000;
}

.article.selected {
	background-color: #fee;
}

.article:not(.selected) .expand {
	display: none;
}

.article.selected .expand {
}

.article.read {
	background-color: #fff;
}

#menu {
	margin: 0;
	padding: 0;
}

.menu {
	margin: 0;
	margin-top: 8px;
	padding: 8px;
	color: #fff;
	background-color: #000;
	cursor: pointer;
}

.menu.selected {
	background-color: #333;
	color: #ccc;
}

.subMenu {
	margin: 0;
	margin-left: 8px;
	margin-top: 8px;
	padding: 4px;
	color: #fff;
	background-color: #000;
	cursor: pointer;
}

.subMenu.selected {
	background-color: #333;
	color: #ccc;
}

#error {
	background: #f88;
	border: 4px solid #f00;
	padding: 1em;
	display: none;
	color: #000;
}

#hide_errors {
	float: right;
	cursor: pointer;
}

.exception {
	font-weight: bold;
}

.traceback {
	font-family: monospace;
	white-space: pre-wrap;
	margin-left: 16px;
}

table.wide {
	background-color: #fff;
	color: #000;
	width: 100%;
	border-spacing: 0;
	border: 2px solid black;
	table-layout: fixed;
}

table.wide td,th {
	border: 1px solid black;
	word-wrap: break-word;
}

.article .heading {
	min-height: 24px;
	white-space: nowrap;
	padding: 2px;
	cursor: pointer;
}

.article .heading .feedName {
	min-height: 24px;
	float: left;
	width: 192px;
	max-width: 192px;
	color: #888;
	overflow: hidden;
}

.article .heading .title {
	min-height: 24px;
	font-weight: bold;
	padding: 2px;
	display: block;
	overflow: hidden;
}

.article .heading .date {
	min-height: 24px;
	float: right;
	color: #888;
	overflow: hidden;
	font-size: xx-small;
}

.article .expand .title {
	font-weight: bold;
}

.article .summary {
}

.article .expand .sharer {
	font-weight: bold;
}

.article .expand .shareNote {
	background-color: #aaf;
	border: 2px solid black;
	margin: 1em;
	padding: 0.5em;
	display: block;
}

.comments textarea {
	display: block;
	clear: both;
}

input.comments {
	display: block;
	clear: both;
}

.comments .heading {
	font-weight: bold;
}

.comments .time {
	color: #888;
	font-size: x-small;
}

.comments .username {
	font-weight: bold;
	margin-left: 8px;
	margin-right: 8px;
}

.comments .comment {
}

div.iconButton {
	background-position: 0px;
	width: 24px;
	height: 24px;
	vertical-align: middle;
	cursor: pointer;
	border: 0;
	display: inline-block;
}

div.iconButton.selected {
	background-position: 48px;
}

div.iconButton:hover {
	background-position: 24px;
}

div.iconButton.star {
	background-image: url(images/star.png);
	float: left;
}

.noNewsIsGoodNews {
	margin: 1em;
	background: #8f8;
	border: 4px solid #080;
	padding: 1em;
	color: #000;
}

.moreNews {
	margin: 1em;
	background: #88f;
	border: 4px solid #008;
	padding: 1em;
	color: #000;
}

.subscriptionTree div {
	padding-left: 8px;
	cursor: pointer;
}

.subscriptionTree div.selected {
	color: #f00;
}
