<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:py="http://genshi.edgewall.org/">
	<?python from genshi.core import Markup ?>
	<head>
		<title>News Friends</title>
		<base href="${environment.SCRIPT_NAME}/"/>
		<link type="text/css" rel="stylesheet" href="static/style.css" />
		<script type="text/javascript" src="static/jquery.min.js"></script>
		<script type="text/javascript" src="static/script.js"></script>
		<py:if test="not 'oid' in session">
		<link type="text/css" rel="stylesheet" href="static/openid-selector/css/openid.css" />
		<script type="text/javascript" src="static/openid-selector/js/openid-jquery.js"></script>
		<script type="text/javascript" src="static/openid-selector/js/openid-en.js"></script>
		<script type="text/javascript">
			var gAuthenticated = false;
			$(document).ready(function() {
				openid.img_path = "static/openid-selector/images/";
				openid.init('openid_identifier');
			});
		</script>
		</py:if>
		<py:if test="'oid' in session">
		<script type="text/javascript">
			var gAuthenticated = true;
		</script>
		</py:if>
		<!--[if lte IE 8]>
		<style type="text/css">
		#sidebar {
			float: left;
		}
		</style>
		<![endif]-->
	</head>
	<body>
		<div id="heading">News Friends</div>
		<div id="main">
			<div id="sidebar">
				<div py:if="'oid' in session">
					<h1 id="display_name">${session.username if 'username' in session and session.username else 'Anonymous'}</h1>
					<div><a href="${environment.SCRIPT_NAME}/logout">Log out</a></div>
				</div>
				<div id="menu"/>
			</div>
			<div id="content">
				<div py:if="defined('error')"><pre>${error}</pre></div>
				<div id="error"><div id="hide_errors">x</div><div id="error_contents"/></div>
				<div id="content_news" class="content" data-name="News">
					<div py:if="not 'oid' in session">
						<h1>Log in</h1>
						<form action="verify" method="POST" id="openid_form">
							<input type="hidden" name="action" value="verify" />
							<fieldset>
								<legend>Sign-in or Create New Account</legend>
								<div id="openid_choice">
									<p>Please click your account provider:</p>
									<div id="openid_btns"></div>
								</div>
								<div id="openid_input_area">
									<input id="openid_identifier" name="openid_identifier" type="text" value="http://" />
									<input id="openid_submit" type="submit" value="Sign-In"/>
								</div>
								<noscript>
									<p>OpenID is service that allows you to log-on to many different websites using a single indentity.
									Find out <a href="http://openid.net/what/">more about OpenID</a> and <a href="http://openid.net/get/">how to get an OpenID enabled account</a>.</p>
								</noscript>
							</fieldset>
						</form>
					</div>
					<div py:if="'oid' in session">
						<h1>Feeds</h1>
						<input type="submit" id="refresh_feeds" value="Refresh"/>
						<input type="submit" id="mark_all_read_feeds" value="Mark All Read"/>
						<div id="feed_message"/>
						<div id="articles"/>
					</div>
					<div py:if="False and session">
						<h1>Session</h1>
						<ul>
							<li py:for="k, v in session.items()"><b>${k}</b>: ${v}</li>
						</ul>
					</div>
					<div py:if="False and defined('environment')">
						<h1>Environment</h1>
						<ul>
							<li py:for="k, v in environment.items()"><b>${k}</b>: ${v}</li>
						</ul>
					</div>
				</div>
				<div id="content_user" class="content" data-name="Preferences">
					<h1>User Settings</h1>
					<div>
						<div><label for="id">Username</label>: <input type="text" id="name" value="${session.username if 'username' in session and session.username else 'Anonymous'}"/></div>
						<div><input type="checkbox" id="public" checked="${True if 'public' in session and session.public else None}"/><label for="public">Let other people find me</label></div>
						<input type="submit" id="user_apply" value="Apply Changes"/>
					</div>
				</div>
				<div id="content_subscriptions" class="content" data-name="Subscriptions">
					<h1>Manage Subscriptions</h1>
					<div>
						<h2>Subscribe to an Atom/RSS feed</h2>
						<div>
							<input type="text" name="feed_url" id="feed_url" style="width: 200px"/>
							<input type="submit" name="submit" id="add_subscription" value="Add"/>
						</div>
					</div>
					<div>
						<h2>Import feeds from an .opml file</h2>
						<form method="POST" enctype="multipart/form-data" action="loadOpml">
							<input type="file" name="file"/>
							<input type="submit" name="submit" value="Load OPML"/>
						</form>
						<div style="font-size: small">Note: Google Reader subscriptions can be downloaded as an .opml file from <a href="https://www.google.com/reader/subscriptions/export">here</a>.</div>
					</div>
					<div>
						<h2>Export feed list as an .opml file</h2>
						<div><a href="saveOpml">Download feed list</a></div>
					</div>
					<div>
						<h2>Share Bookmark</h2>
						<div>To be able to share content from outside of your subscriptions, add this to your bookmarks: <a class="shareBookmark" href="javascript:(function(){_s=document.createElement('SCRIPT');if(_s&amp;&amp;!document.xmlVersion){_s.type='text/javascript';_s.src='${baseUrl}/static/share.js';document.getElementsByTagName('head')[0].appendChild(_s);}})();">share</a>.</div>
						<div style="font-size: small">Note: This is a work in progress.  Check back for an updated bookmark from time to time.</div>
					</div>
					<div>
						<h2>Subscriptions</h2>
						<ul id="subscriptions"/>
					</div>
				</div>
				<div id="content_friends" class="content" data-name="Friends">
					<h1>Friends</h1>
					<div id="users"/>
				</div>
			</div>
		</div>
	</body>
</html>
